<div>
  user: <%= User.first.email %><br>
  store: <%= Store.first.email %>
</div>
<hr>
<%= form_with(scope: session, url: sessions_path, local: true, class: 'w-75 p-4 mx-auto' ) do |f| %>
  <div class="form-group ml-3">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'w-75' %>
  </div>
  <div class="form-group ml-3">
    <%= f.label :password %><br>
    <%= f.password_field :password, class: 'w-75' %>
  </div>
  <div class="btn-container">
    <%= f.submit 'ログイン', class: 'btn btn-primary' %>
  </div>
<% end %>
