<%= form_with(model: store, local: true, class: 'm-2 p-4') do |form| %>
  <div class="form-group ml-3">
    <%= render 'layouts/error', cause: store %>
  </div>
  <div class="form-group">
    <%= form.label :name %><br>
    <%= form.text_field :name, placeholder: '名前を入力', class: 'w-25' %>
  </div>
  <div class="form-group">
    <%= form.label :email %><br>
    <%= form.text_field :email, placeholder: 'メールアドレスを入力', class: 'w-25' %>
  </div>
  <div class="form-group">
    <%= form.label :password %><br>
    <%= form.text_field :password, placeholder: 'パスワードを入力', class: 'w-25' %>
  </div>
  <div class="form-group">
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation, class: 'w-25' %>
  </div>
  <div class="form-group">
    <%= form.label :icon %><br>
    <%= form.file_field :icon %>
  </div>
  <div class="form-group">
    <%= form.label :introduction %><br>
    <%= form.text_area :introduction, placeholder: 'お店の紹介を入力', class: 'w-50' %>
  </div>
  <div class="form-group">
    <%= form.label :postcode %><br>
    <%= form.text_field :postcode, id: 'postcode', placeholder: '郵便番号を半角で入力' %>
  </div>
  <div class="form-group">
    <%= form.label :prefecture %>
    <%= form.text_field :prefecture, id: 'address1' %>
    <%= form.label :city %>
    <%= form.text_field :city, id: 'address2' %>
    <%= form.label :street_address %>
    <%= form.text_field :street_address, id: 'address3' %>
  </div>
  <div class="btn-container">
    <%= form.submit class: 'btn btn-primary'%>
  </div>
<% end %>
<script>
  $(window).ready( function() {
    $('#postcode').jpostal({
      postcode : [
        '#postcode',
      ],
      address : {
        '#address1'  : '%3',
        '#address2'  : '%4',
        '#address3'  : '%5'
      }
    });
  });
</script>
