<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <% store.errors.full_messages do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>
  <table>
    <tr class="store_field">
      <td><%= form.label :name %></td>
      <td><%= form.text_field :name %></td>
    </tr>
    <tr class="store_field">
      <td><%= form.label :email %></td>
      <td><%= form.text_field :email %></td>
    </tr>
    <tr class="store_field">
      <td><%= form.label :password %></td>
      <td><%= form.text_field :password %></td>
    </tr>
    <tr class="store_field">
      <td><%= form.label :password_confirmation %></td>
      <td><%= form.password_field :password_confirmation %></td>
    </tr>
    <tr class="store_field">
      <td><%= form.label :icon %></td>
      <td><%= form.file_field :icon %></td>
    </tr>
    <tr class="store_field">
      <td><%= form.label :introduction %></td>
      <td><%= form.text_area :introduction %></td>
    </tr>
    <tr class="store_field">
      <td><%= form.label :postcode %></td>
      <td><%= form.text_field :postcode  %></td>
    </tr>
    <tr class="store_field">
      <td><%= form.label :prefecture %></td>
      <td><%= form.text_field :prefecture %></td>
    </tr>
    <tr class="store_field">
      <td><%= form.label :city %></td>
      <td><%= form.text_field :city %></td>
    </tr>
    <tr class="store_field">
      <td><%= form.label :street_address %></td>
      <td><%= form.text_field :street_address %></td>
    </tr>
  </table>
  <%= form.submit 'sign up'%>
<% end %>
