<h4>お名前: <%= @store.name %></h4>

<% if current_user && @current_user == @store %>
  <div class="#">
    <%= link_to 'プロフィールを編集する', edit_store_path(@store.id) %>
    <%= link_to '広告を投稿する', new_store_promotion_path(@store.id) %>
  </div>
<% end %>

<p>お気に入りしたお店</p>
<div id="favorite_stores">
  <% @favorite_stores.each do |store| %>
    <%= link_to (image_tag(store.icon.url, size: '40x30')),
        store_promotions_path(store.id), remote: true
    %>
  <% end %>
  <%= link_to 'お店を探しにいく', stores_path %>
</div>
<hr>
<% if @favorite_stores.present? %>
  <div id="store_promotions">
    <%= render 'promotions/index', store: @favorite_stores.first, promotions: @favorite_stores.first.promotions %>
  </div>
<% else %>
  お気に入りしたお店はありません
<% end %>
