<% if current_user && @current_user != @store %>
  <div id="favorite_field" class="btn btn-outline-primary m-1">
    <%= render 'follow_form', store: @store, current_user: @current_user %>
  </div>
<% end %>
<h4>お店の名前: <%= @store.name %></h4>
<h5>住所: <%= @store.prefecture.to_s + @store.city.to_s + @store.street_address.to_s %></h5>
<div class="container">
  <div class="row">
    <%= image_tag(@store.icon.url, class:'col-5 mr-5') %>
    <div class='col-6 introduction'>
      <h5>お店の紹介:</h5>
      <%= @store.introduction %>
    </div>
  </div>
</div>
<hr>
<p>投稿されたお知らせ</p>
<div class="promotions">
  <% @promotions.each do |prom| %>
    <p>
      <%= prom.title %>
      <%= prom.content %>
    </p>
  <% end %>
</div>
<hr>
<p>寄せられたコメント</p>
<h4 class="notice" style="color: green"></h4>
<div class="comments_area">
  <%= render 'comments/index', comments: @comments %>
</div>
<hr>
<% if current_user && current_user.class == User %>
  <%= render 'comments/form', store: @store, comment: @new_comment %>
<% end %>
