<div class="my-page jumbotron">
  <h2 class="mb-3"><%= @user.name %>さんのマイページ</h2>
  <p>お気に入りしたお店</p>
  <div id="favorite_stores" class="nav nav-tabs ">
    <% @stores.each do |store| %>
      <%= link_to (image_tag(store.icon.url, size: '50x40', class: 'nav-item rounded-circle mx-2')),
          store_promotions_path(store.id), remote: true
      %>
    <% end %>
    <%= link_to 'お店を探しにいく', stores_path, class: 'nav-item btn btn-info ml-3' %>
    <%= link_to 'プロフィールを編集', edit_user_path(@user.id), class: 'nav-item btn btn-success ml-3'%>
  </div>
  <hr>
  <% if @stores.present? %>
    <div id="store_promotions">
      <%= render 'promotions/index', store: @stores.first, promotions: @stores.first.promotions %>
    </div>
  <% else %>
    お気に入りしたお店はありません
  <% end %>
</div>
