<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <h3 class="navbar-brand">Noko-Fuku</h3>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if current_user %>
        <li class="nav-item">
          <% if @current_user.class == User %>
            <%= link_to 'マイページ', user_path(@current_user.id), class: 'nav-link text-body'%>
          <% else %>
            <%= link_to 'マイページ', store_mypage_path(@current_user.id), class: 'nav-link text-body'%>
          <% end %>
        </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', session_path(1),
            method: :delete, class: 'nav-link text-body'%>
          </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'ログイン', new_session_path, class: 'nav-link text-body' %>
        </li>
        <li class="nav-item">
          <%= link_to '新規登録', new_user_path, class: 'nav-link text-body' %>
        </li>
      <% end %>
      <%= link_to 'お店を探しにいく', stores_path, class: 'nav-link text-body'%>
    </ul>
  </div>
</nav>
