<!DOCTYPE html>
<html>
  <head>
    <title>NokoFuku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
  </head>

  <body class="m-4">
    <%= render 'layouts/header'%>
    <p>ログインユーザーの部類: <%= current_user.class %><p>
    <hr>
    <%= yield %>
  </body>
</html>
